{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="cookhub">
                <img src="{% static 'imgs/WhatsApp Image 2025-04-02 at 22.45.22_80c2abde.jpg' %}"/>
                <h1>CookHub</h1>
            </div>
            <div class="about">
                <a href="{% url 'home' %}">Home</a>
<a href="{% url 'Recipes' %}">Recipes</a>
<a id="Favorits" href="{% url 'Favorites' %}">Favorites</a>
<a href="{% url 'Search' %}">Find recipe</a>
<a id="manage_recipes" href="{% url 'admin_page' %}">Manage Recipes</a>
<a href="{% url 'categories' %}">Categories</a>

            </div>
            <div class="about">
                <button id="logout"><i class="fa-solid fa-arrow-right"></i> LogOut</button>
            </div>
        </nav>
        <div class="content">
            <h1 class="category-title">Explore Recipes by Category 🍽️</h1>
            
            <div class="courses">
                <div class="appetizer">
                    <img src="{% static 'imgs/appetizer (1).webp' %}" alt="">
                    <h2>🥗 Appetizer</h2>
                    <button id="appetizer"class="viewrecipes">View Recipes</button>
                </div>
                <div class="dessert">
                    <img src="{% static 'imgs/dessert.webp' %}" alt="">
                    <h2>🍰 Dessert</h2>
                    <button id="dessert" class="viewrecipes">View Recipes</button>
                </div>
                <div class="maincourse">
                    <img src="{% static 'imgs/maincourse.webp' %}" alt="">
                    <h2>🍛 Main Course</h2>
                    <button id="main" class="viewrecipes">View Recipes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    let user = localStorage.getItem("user");
    if (!user) {
        window.location.href = "{% url 'login' %}";
    }
    let userparse = JSON.parse(user);
    let favoritesLink = document.getElementById("Favorits");
    let manageRecipesLink = document.getElementById("manage_recipes");

    if (userparse.is_admin === "true") {
        document.getElementById("manage_recipes").innerHTML = "Manage recipes";
        favoritesLink.style.display = "none";
    } else {
        document.getElementById("Favorits").innerHTML = "Favorites";
        manageRecipesLink.style.display = "none";
    }

    document.getElementById("logout").addEventListener('click', () => {
        localStorage.removeItem("user");
        window.location.href = "{% url 'login' %}";
    });

    document.getElementById("appetizer").onclick = function () {
            window.location.href = "/api/recipes_by_category/Appetizer/";
        }

        document.getElementById("dessert").onclick = function () {
            window.location.href = "/api/recipes_by_category/Dessert/";
        }

        document.getElementById("main").onclick = function () {
            window.location.href = "/api/recipes_by_category/Main Course/";
        }
</script>

    
</body>
</html> 
