{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/recipe_list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body style="background: linear-gradient(to right, #fceabb, #d35400c4);">
    <div class="container">
        <nav>
            <div class="cookhub">
                <img src="{% static 'imgs/WhatsApp Image 2025-04-02 at 22.45.22_80c2abde.jpg' %}"/>
                <h1>CookHub</h1>
            </div>
            <div class="about">
                <a href="{% url 'home' %}">Home</a>
<a href="{% url 'Recipes' %}">Recipes</a>
<a id="Favorits" href="{% url 'Favorites' %}">Favorites</a>
<a href="{% url 'Search' %}">Find recipe</a>
<a id="manage_recipes" href="{% url 'admin_page' %}">Manage Recipes</a>
<a href="{% url 'categories' %}">Categories</a>

            </div>
            <div class="about">
                <button id="logout"><i class="fa-solid fa-arrow-right"></i> LogOut</button>
            </div>
        </nav>
        <div class="content">
            <div class="description">
                <h1 id="categoryTitle" style="
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #D35400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
">
</h1>
<p style="
text-align: center;
margin: 10px auto 40px auto;
max-width: 700px;
font-size: 1.2rem;
color: #555;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
">
Discover a handpicked selection of mouth-watering <strong id='categoryName'></strong> recipes, crafted to satisfy every craving. Let your culinary journey begin!
</p>

            </div>
            

            <div id="recipeList"></div>
        </div>
    </div>
    <script>      let user = localStorage.getItem("user");
        if(!user)
    {
      window.location.href ="{% url 'login' %}";
    }   
       let userparse = JSON.parse(user);
       let favoritesLink = document.getElementById("Favorits");
       let manageRecipesLink = document.getElementById("manage_recipes");
       if(userparse.is_admin === "true"){
          let manage_recipes = document.getElementById("manage_recipes").innerHTML="Manage recipes";
          favoritesLink.style.display = "none";
       }
       else{
          let Favorits= document.getElementById("Favorits").innerHTML = "Favorits";
          manageRecipesLink.style.display = "none";
       }
    let logout = document.getElementById("logout");
       logout.addEventListener('click', ()=>{
          localStorage.removeItem("user");
          window.location.href="{% url 'login' %}"
       })</script>
    <script src="{% static 'js/recipesbycategory.js' %}"></script>
</body>
</html>